body {
}

header {
    width: 100%;
    background: linear-gradient(to right, #3B6DC3, #230555);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: .5vw;
    color: white;
    font-weight: bolder;
}

.search-sidebar label, input, button {
    width: 100%;
    margin-bottom: 1.5vh;
}

#search-sidebar button {
    background-color: #B7B7B7;
}

#search-sidebar button:hover {
    background-color: #6e6e6e;
}

#search-sidebar div button {
    background-color: #5AA2E9;
    color: white;
}

#search-sidebar div button:hover {
    background-color: #2B2777;
}

#search-sidebar div {
    border-bottom: 2px solid gray;
}

#austin {
    margin-top: 1.5vh;
}

#search-sidebar label {
    font-size: 3.5vh;
    font-weight: bolder;
}

#search-sidebar input {
    height: 5vh;
}

#main-window {
    border: 1px solid black;
    min-height: 25vh;
    width: 100%;
}

h2 {
    font-weight: bolder;
    font-size: 3vh;
}

.five-days {
    min-height: 24vh;
    background-color: #33475A;
}

.five-days h4 {
    color: white;
}